<article class="article">
  <h2 class="title">アカウント内容の変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages %>
    <table class="form_table">
    <div class="field">
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.email_field :email, autocomplete: "email", class: "form-control" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= f.label :icon %></th>
        <td><%= f.file_field :icon %></td>
      </tr>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <tr>
        <th><%= f.label :password %>
            <br><i class="caution">(変更したくない場合は空白のままにしてください)</i></th>
        <td>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= f.label :password_confirmation %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= f.label :current_password %>
            <br><i class="caution">(変更を確認するために現在のパスワードが必要です)</i></th>
        <td><%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></td>
      </tr>
    </div>
  </table>

    <div class="actions">
      <%= f.submit "変更を保存", class: "form_button" %>
    </div>
  <% end %>
  <%= link_to "Back", :back, class: "back_button" %>

  <h4 class="title">退会したい</h4>

  <p><%= button_to "退会する", registration_path(resource_name),
         data: { confirm: "退会するとあなたの投稿や劇団は削除されます。本当に退会しますか？" },
         method: :delete, class: "delete_button" %></p>
</article>
