<li class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 col-md-offset-0 col-md-3">
      <div class="user_area">
        <%= image_tag @user.icon %>
        <h4><%= @user.name %></h4>
      </div>
    </li>

    <li class="col-xs-12 col-sm-8 col-md-9">
      <div class="article user_index">
          <ul class="nav nav-tabs">
            <li role="presentation" class="<%= 'active' if action_name == 'posts' %>"><%= link_to '投稿一覧', user_path %></li>
            <li role="presentation" class="<%= 'active' if action_name == 'favorites' %>"><%= link_to 'お気に入り', user_favorites_path %></li>
            <li role="presentation" class="<%= 'active' if action_name == 'troupes' %>"><%= link_to '所属劇団', user_troupes_path %></li>
            <li role="presentation" class="<%= 'active' if action_name == 'following_troupes' %>"><%= link_to 'フォロー劇団', user_following_troupes_path %></li>
            <li role="presentation" class="<%= 'active' if action_name == 'member_requests' %>"><%= link_to 'メンバー申請している劇団', user_member_requests_path %></li>
          </ul>
      </div>
    </li>
