<div class="container">
  <ul class="row">
    <%= render 'user_nav' %>

    <li class="col-xs-12 col-sm-8 col-md-9">
      <div class="article user_content">
        <% if @admin_troupes.present? ||  @member_troupes.present? %>
          <div class="troupe_index">
            <% @admin_troupes.each do |troupe| %>
              <div class="troupe_area">
                <div class="link_area">
                  <%= link_to image_tag(troupe.icon), troupe_path(troupe.id), class:"troupe_icon_link" %>
                  <%= link_to troupe.name, troupe_path(troupe.id), class:"name_link" %>
                </div>
                <% if current_user.id == troupe.user_id %>
                  <%= link_to '劇団管理', troupe_path(troupe.id), class:"admin_link" %>
                <% end %>
              </div>
            <% end %>
            <% @member_troupes.each do |troupe| %>
              <div class="troupe_area">
                <div class="link_area">
                  <%= link_to image_tag(troupe.icon), troupe_path(troupe.id), class:"troupe_icon_link" %>
                  <%= link_to troupe.name, troupe_path(troupe.id), class:"name_link" %>
                </div>
              </div>
          <% end %>
          </div>
        <% else %>
          <p>所属している劇団はありません。<p>
        <% end %>
        </div>
    </li>
  </ul>
</div>
