<!DOCTYPE html>
<html>
  <head>
    <title>Flyer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container_area">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Flyer</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Flyer!', root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="top_nav"><%= link_to '投稿一覧', root_path %></li>
            <li class="top_nav"><%= link_to '劇団一覧', troupes_path %></li>
            <li class="top_nav"><%= link_to '劇団の登録', new_troupe_path %></li>
            <% if user_signed_in? %>
              <li class="top_nav"><%= link_to '新規投稿', new_post_path %><li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">
                 <%= image_tag(current_user.icon) %>
              </a>
              <ul class="dropdown-menu">
                <li class="top_nav"><%= link_to 'マイページ', user_path(current_user.id) %></li>
                <li class="top_nav"><%= link_to 'プロフィール変更', edit_user_registration_path %></a></li>
                <li role="separator" class="divider"></li>
                <li class="top_nav"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>
              <li class="top_nav"><%= link_to '新規登録', new_user_registration_path %></li>
              <li class="top_nav"><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
  <footer>
    <p>Copyright© Flyer!. All Rights Reserved</p>
  </footer>
</html>
